.menu__wrap{
    border-top: solid #AEC1C5 1px;
}
.menu__item{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;

    color: #41666E;

    padding: 10px;

    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #AEC1C5;
}
.menu__item h3{
    opacity: .5;
    transition: .2s;
}
.menu__item:hover{
    cursor: pointer;
}
.menu__item:hover h3{
    opacity: 1;
}
.item_active{
    border-width: 0 0 1px 1px;
}
.item_active h3{
    opacity: 1
}

.item_exit{
    color: #C50C0C;
}