html{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.page-link{
    background: #EBF9FC;
    color: black;
}

.active>.page-link, .page-link.active{
    background: #DD7676;
    border-color: #DD7676;

}